{% extends "base.html.twig" %}

{% block body %}
    <h1>Check your emails</h1>

        <p>
            We emailed you to verify your email address.<br>
            Please click the link in the email to continue.
        </p>
{% endblock %}